[Unit]
Description=nginx

[Service]
Restart=always
RestartSec=10

Environment=PATH=/opt/bin/:/usr/bin/:/usr/sbin:/sbin:$PATH
Environment=NGINX_IMAGE_URL={{ REGISTRY_LOCAL }}{{ K8S_IMAGES['NGINX']['NAME'] }}:{{ K8S_IMAGES['NGINX']['VERSION'] }}

ExecStartPre=/usr/bin/mkdir --parents /etc/kubernetes/data/nginx
ExecStartPre=/usr/bin/mkdir --parents /etc/kubernetes/downloads
ExecStartPre=-/usr/bin/docker rm -f k8s-nginx     

ExecStart=/etc/kubernetes/scripts/nginx.sh

ExecStop=-/usr/bin/docker stop k8s-nginx

[Install]
WantedBy=multi-user.target
